*{
	margin: 0;
	padding: 0;
}

a, footer {
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #272822;
	background-color: white;
}

}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	margin: 0 30px;
	vertical-align: middle;
	font-size: 1em;
}

#home {
	margin-left: 50%;
}

nav, footer {
	background: #333333;
	height: 45px;
}

img {
	margin-left: 40px;
}

#wrapper {
	width: 90%;
	margin: 0 auto;
}

#welcome {
	font-size: 1em;
	/*text-align: center;*/
	float: right;
	width: 28%;
	padding-left: 20px;
	color: #272822;
	margin-top: 50px;
	line-height: 1.8em;
	clear: right;
	display: inline;
	vertical-align: center;

}

#welcome a {
	color: #272822;
}

#box1, #box2, #box3, #box4 {
	width: 50%;
	height: 200px;
	float: left;
	background-color: #1E8BC4;
	/*border-radius: 2px;*/	
	display: inline-block;
}

#box2 {
	background-color: #F15A49;
}

#box3 {
	background-color: #A1785A;
}

#box4 {
	background-color: #FA6722;
}

#box5 {
	width: 100%;
	height: 200px;
	float: left;
	background-color: #35BC7A;

}

.text {
	color:white;
	font-size: 3em;
	margin-top: 50px;
	text-align: center;

}

.text1 {
	color:white;
	font-size: 1em;
	margin: 80px;
	text-align: center;
}

hr {
	width: 51%;
	margin: -13px auto;
	height: 3px;
}

#boxes {
	width: 70%;
	display: inline-block;
}

#intro {
	color: #272822;
	font-size: 5em;
	text-align: center;
	text-shadow: 2.3px 2.3px 2.3px #272822;
	margin-top: 100px;
}

#indexmiddle {
	font-size: .8em;
	margin-top: 100px;
	text-align: center;
}

footer p {
	display: block;
	text-align: center;
}

#coming-soon {
	text-align: center;
	font-size: 4.5em;
	margin: 100px 0;
}
